/*
current frontrunner for best practice box-sizing
https://css-tricks.com/box-sizing/
*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

form {
  width: 280px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
button {
  height: 32px;
}

.App {
  background-color: #13111c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
}

form > .column {
  margin-bottom: 24px;
}
